*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;        
}
.header-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25.5px;
    margin-bottom: 25.5px;    
    text-align: center;
}
.page-header-menu {
    list-style: none;
    display: inline;            
}
.heder-menu-item {
    display: inline;
    margin-left: 72px;
}
.header-menu-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
    text-decoration: none;
    text-transform: uppercase;
}
.image {
    display: block;
    width: 100%;
    margin: 0;    
}
.content-title {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    margin-bottom: 38px;
    color: #373737;
}
.content-container {    
    margin-left: 67.5px;
    margin-right: 67.5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #373737;
    text-align: center;
    margin-bottom: 66px;
}
.content-text {
    margin-bottom: 28px;
}
.btn-red {    
    display: block;
    width: 191px;
    height: 51px;    
    border-radius: 4px;
    background-color: #FF0000;        
    border: 2px solid #FF0000;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;    
}
.text-footer{
    text-align: right; 
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #373737;
    margin-right: 105px;
    margin-bottom: 29px;
    margin-top: 82px;
 }